{% extends 'quizquiz/base.html' %}
{% load i18n %}

{% block content %}
    {{ super }}
    {% if quiz_url %}
        {% trans 'Share this link with friends' %}
        <pre>{{ site_url }}{{ quiz_url }}</pre>
    {% else %}
        {% trans 'Please take quiz again' %}
        <a href="{{ site_url }}">{% trans 'Do we match each other?' %}</a>
    {% endif %}

    {% if match %}
        {% blocktrans %}You match your friend {{ friend_name }}, {{ match }}{% endblocktrans %}
        <br/>
        <a href="{{ site_url }}">{% trans 'Create your own quiz' %}</a>
    {% endif %}
{% endblock %}